body {
    font-family: "Roboto", sans-serif;
    background-color: var(--colo5);
    color: var(--colo2);
}
:root {
--colo: #2e2f42;
--colo2: #434455;
--colo3: #4D5AE5;
--colo4: #F4F4FD;
--colo5: #FFFFFF;
--colo6: #404bbf;
--colo7: #E5E5E5;
--colo8: #E7E9FC;
}
/* --reset values-- */
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.head {
    background-color: var(--colo5);
    /* padding-top: 24px; */
    border-bottom: 1px solid var(--colo8);
}
.foot {
    background: var(--colo);
    padding: 100px 0;
}
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colo3);
    margin-right: 76px;
    display: inline-block;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.nav-list-header {
    margin-right: auto;
    display: flex; 
    align-items: center; 
    padding: 24px 0;
}
.list-header {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
}
.studio-logo {
   color: var(--colo);
}
.studio-logo-footer {
    color: var(--color4)

}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link-header {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo);
    list-style-type: none;
    padding: 24px 0;
    display: block;
}
.link-header:active {
    color:var(--colo3);
}
.link-header:hover {
    color: var(--colo6);
}
.link-header:focus {
    color: var(--colo6);
}
.address {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
list-style-type: none;
font-style: normal;
margin-left: auto;
}
.address :focus {
    color: var(--colo6);
}
.address :hover {
    color: var(--colo6);
}
.address-header {
    text-decoration: none;
    color: var(--colo2);
}
.hero {
    background: var(--colo);
    font-weight: 700;
    line-height: 1.07;
    padding: 188px 0;
    
}
.hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--colo5);
    max-width: 496px;
    height: 120px; 
    margin-right: auto;
    margin-left: auto;
}
.button {
    background-color:var(--colo3);
    color: var(--colo5);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    display: block;
    border: none;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.btn-hero {
    border-radius: 4px;
}
.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo)
}
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo2);
}
.team {
    background-color: var(--colo4);
    padding: 120px 0
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
    margin-bottom: 8px;
}
.features {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo2);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--colo);
    background-color: var(--colo5);
    margin-bottom: 120px;
    margin-bottom: 72px;
    }
.description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
    text-align: center;
    margin-bottom: 8px;
}
.profession {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo2);
    letter-spacing: 0.02em;
    text-align: center;
}
.studio-logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colo4);
}
.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo4);
    margin-top: 16px;
    max-width: 264px;
}
.button-portfolio {
    background-color: var(--colo4);
    color: var(--colo3);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--colo3);
    background-color: var(--colo4);
    cursor: pointer;
    border: 1px solid var(--colo8);
    border-radius: 4px;
    height: 48px;
    padding: 12px 24px
}
.button-portfolio:hover {
    background-color: var(--colo6);
    color: var(--colo5);
    border: 1px solid transparent;
}
.button-portfolio:active {
    color: var(--colo5);
    background-color: var(--colo6);
    border: 1px solid transparent;
}
.button-portfolio:focus {
    color: var(--colo5);
    background-color: var(--colo6);
    border: 1px solid transparent;
}
.pic {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.small {
    font-size: 16px;
    line-height: 1.5px;
    color: var(--colo2);
}
.link {
    text-decoration: none ;
}
.header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
    margin-bottom: 8px;
}
.paragraph-potos {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo2); 
}
.team-list {
    background-color: var(--colo5);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.emploee {
    padding: 32px 16px;
}
.container {
    width: 1158px;
    margin-left: 156px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 0 15px;
}
.about-section {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
    }
.about-li {
    width: calc((100% - 72px) / 4);
}
.portfolio {
    padding-bottom: 120px; 
}
.portfolio-list {
    display: flex;
    gap: 24px;
}
.portfolio-li {
    width: calc((100% - 48px) / 3);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--colo);
    margin-bottom: 72px;
}
.team-ul {
    display: flex;
    gap: 24px;
    height: 380px;
}
.footer-logo {
    padding-top: 100px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colo3);
    display: inline-block;
}
.filters-buttons {
    display: flex;
    gap: 24px;
    border-radius: 4px;
    margin-bottom: 72px;
    justify-content: center;
}
.photos-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;    
}
.photos-li {
    width: calc((100% - 48px) / 3);
}
.portfolio-photos {
    background-color: var(--colo5);
}
.main-section {
    padding: 96px 0 120px;
}
.apps {
    padding: 32px 16px;
    border: 1px solid var(--colo8); 
    border-top: none;
}
